@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Fraunces", serif;
  color: #23303e;
}

ul, p {
  font-family: "Barlow", sans-serif;
  color: #23303e;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper {
  max-width: 1440px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.header {
  position: relative;
  font-size: 0;
}

.header_image {
  width: 100%;
}

.header_header {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 47px 0 40px;
}

.header_header .logo {
  height: auto;
}

.header_header .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  color: white;
  font-size: 1rem;
}

.header_header .contact_btn {
  height: 60px;
  width: 143px;
  border-radius: 30px;
  border: none;
  font-family: "Fraunces", serif;
  font-weight: 900;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.header_header .contact_btn:hover {
  opacity: 0.7;
}

.header_header .hamberger {
  display: none;
}

.header_hero {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header_hero .hero_title {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.7rem;
}

.header_hero .arrow_img {
  width: 40px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main_image {
  width: 100%;
}

.main .card_title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 11%;
}

.main .card_detail {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #a7abae;
  margin-bottom: 11%;
}

.main .card .learnMore {
  font-family: "Fraunces", serif;
  text-decoration: none;
  font-size: 1rem;
  color: #23303e;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
}

.main .card .learnMore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .card .learnMore:before {
  content: "";
  height: 3px;
  width: 110%;
  border-radius: 1.5px;
  position: absolute;
  top: 77%;
  left: -5%;
  opacity: 0.4;
  z-index: -1;
}

.main .upper {
  padding: 21% 16% 21% 23%;
}

.main .upper .learnMore::before {
  background-color: #fad400;
  -webkit-box-shadow: 0px 0 5px 2px #fad400;
          box-shadow: 0px 0 5px 2px #fad400;
}

.main .bottom {
  padding: 21% 23% 21% 16%;
}

.main .bottom .learnMore::before {
  background-color: #fe7867;
  -webkit-box-shadow: 0px 0 5px 2px #fe7867;
          box-shadow: 0px 0 5px 2px #fe7867;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services_service {
  position: relative;
  width: 50%;
}

.services_service .service_title {
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 900;
  color: inherit;
}

.services_service .service_detail {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.services_service .graphic_design {
  color: #458c7e;
}

.services_service .photography {
  color: #19536b !important;
}

.services_service .service_img {
  width: 100%;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11% 11%;
}

.clients .section_title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  color: #a7abae;
  letter-spacing: 0.2rem;
  margin-bottom: 9%;
}

.clients_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.clients_client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.clients_client__img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-bottom: 6%;
}

.clients_client__comment {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #5a636c;
  margin-bottom: 7%;
}

.clients_client__name {
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 3%;
}

.clients_client__position {
  font-size: 0.8rem;
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

.img_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_gallery img {
  width: 25%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  background-color: #90d4c5;
  color: #25564b;
}

.footer_logo {
  height: 25px;
  width: 200px;
  background-color: #25564b;
  -webkit-mask: url(../images/logo.svg) no-repeat center;
          mask: url(../images/logo.svg) no-repeat center;
  margin-bottom: 40px;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-bottom: 90px;
}

.footer_links a {
  color: #458c7e;
}

.footer_links a:hover {
  color: white;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.footer .social i {
  font-size: 1.1rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer .social i:hover {
  color: white;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
  .header_list {
    display: none !important;
  }
  .hamberger {
    display: unset !important;
  }
  .header_hero {
    height: 50%;
    top: 60%;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0;
  }
  .services_service {
    width: 100%;
  }
  .clients {
    padding: 15%;
  }
  .clients_client__comment {
    font-size: 1.3rem;
  }
  .clients_client__name {
    font-size: 1.3rem;
  }
  .clients_client__position {
    font-size: 0.9rem;
  }
  .clients_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img_gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .img_gallery img {
    width: 50%;
  }
  .footer_links {
    font-size: 1.3rem;
  }
  .footer .social i {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */