:root{
    --font-text: 'Open Sans', sans-serif;
    --font-header: 'Raleway', sans-serif;

    /* primary color */
    --clr-dark-blue: hsl(243, 87%, 12%);
    --clr-mid-blue: hsl(238, 22%, 44%);
    /*accent color  */
    --clr-ligh-blue: hsl(224, 93%, 58%);
    --clr-cyan: hsl(170, 45%, 43%);
    /* neutral color */
    --grayish-blue: hsl(240, 75%, 98%);
    --clr-gray: hsl(0, 0%, 75%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: var(--font-text);
    color: var(--clr-dark-blue);
}

li{
    list-style: none;
}

a, input{
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--clr-dark-blue);
}

a:hover{
    cursor: pointer;
    opacity: 0.6;
}

h1, h2, h3, h4{
    font-family: var(--font-header);
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.header-logo{
    height: 25px;
}

.header-nav{
}

.header-nav-list{
    display: flex;
    gap: 25px;
}

.header-nav-link{
    font-size: 14px;
    transition: ease-in-out 0.1s;
}

input[type='button']{
    transition: ease-in-out 0.2s;
}
input[type='button']:hover{
    cursor: pointer;
    opacity: 0.8;
}
@media (min-width: 800px){
    .header{
        max-width: 1440px;
        padding: 65px 80px;
    }

    .header-logo{
        height: 45px;
    }

    .header-nav-list{
        gap: 55px;
    }

    .header-nav-link{
        font-size: 18px;
    }
}
/* hero */
.main{

}

.hero{
    padding: 75px 30px;
    text-align: center;
    background: url(./images/bg-curve-mobile.svg) center bottom no-repeat;
    background-size: contain;
}

.hero-img{
    width: 85%;
    max-width: 640px;
    margin-bottom: 40px;
}

.hero-content{
    display: grid;
}

.hero-caption{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.hero-text{
    justify-self: center;
    font-size: 14px;
    line-height: 1.4;  
    margin-bottom: 30px; 
    max-width: 650px;
}

.form{
    position: relative;
    justify-self: center;
    display: grid;
    gap: 17px;
    width: 100%;
    max-width: 450px;
    margin-bottom: 70px;
}

.email-input{
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid var(--clr-dark-blue);
    outline: none;
}

.email-input:focus::placeholder{
    color: transparent;

}

.form .err-msg{
    color: red;
}

.err .err-msg{
    display: unset;
}

.err .email-input{
    border-color: red;
}

.err .email-input{
    border-color: red;
}

.err-msg{
    display: none;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 20px;
}
.email-input::placeholder{
    color: var(--clr-gray);
}

.submit-btn{
    padding: 11px 20px;
    font-weight: 700;
    color: white;
    background-color: var(--clr-ligh-blue);
    border: none;
    outline: none;
    border-radius: 5px;
}

@media (min-width: 800px){
    .main{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero{
        padding: 75px 75px 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
        background: url(./images/bg-curve-desktop.svg) center bottom no-repeat;
    background-size: contain;
    }

    .hero-img{
        grid-area: 1/2/2/3;
        width: 100%;
    }

    .hero-content{
        text-align: left;
    }
    
    .hero-caption{
        font-size: 40px;
        margin-bottom: 15px;
    }
    
    .hero-text{
        font-size: 18px;
        margin-bottom: 25px;
    }

    .form{
        grid-template-columns: 2fr 1fr;
        max-width: unset;
        padding-right: 50px;
    }

    .email-input{
        padding: 14px 20px 10px;
        font-size: 14px;
    }
}
/* intro */
.intro{
    /* display: grid; */
    text-align: center;
    padding: 30px 35px 30px 25px;
    background-color: var(--grayish-blue);
}

.intro-img{
    width: 100%;
    max-width: 550px;
    margin-bottom: 85px;
}

.intro-content{

}

.intro-header{
    font-size: 16px;
    margin-bottom: 30px;
}

.intro-text{
    font-size: 14px;
    text-align: left;
    color: var(--clr-mid-blue);
    line-height: 1.5;
    margin-bottom: 16px;
}

.intro-link{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--clr-cyan);
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--clr-cyan);
}

.intro-link > span{
    position: relative;
    top: 3px;
    margin-left: 10px;

}

.intro-review{
    padding: 15px 15px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;

    background: white;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 5px 0 var(--grayish-blue);
}

.intro-review__text{
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.user{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.user-avatar{
    grid-area: 1/1/3/2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user-name{
    font-family: var(--font-header);
    font-size: 10px;
    font-weight: 700;
}

.user-tittle{
    font-size: 9px;
}

@media (min-width: 800px){
    .intro{
        display: grid;
        grid-template-columns: 1fr minmax(1fr, 550px);
        column-gap: 70px;
        padding: 75px 75px 50px;
    }

    .intro-img{
        grid-area: 1/2/2/3;
    }

    .intro-content{
        text-align: left;
    }

    .intro-header{
        font-size: 40px;
        margin-bottom: 38px;
    }

    .intro-text{
        font-size: 16px;
        max-width: 530px;
    }

    .intro-link{
        margin-top: 0px;
        font-size: 15px;
        /* font-weight: 700; */
    }
    
    .intro-review{
        margin-left: 0;
        padding: 25px 30px;
        max-width: 350px;
    }

    .intro-review__text{
        font-size: 13px;
        line-height: 1.8;
    }

    .user-avatar{
        width: 30px;
        height: 30px;
    }

}

/* call action */
.call-action{
    text-align: center;
    padding: 55px 45px 70px;
    background-color: var(--clr-mid-blue);
    color: white;
}

.call-action-content{

}

.call-action-header{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.call-action-text{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.call-action-form{
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    display: grid;
    gap: 10px;
}

.call-action-form .email-input{
    border: none;
}
.call-action-form .submit-btn{
    font-size: 10px;
}

@media (min-width: 800px){
    .call-action{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 110px 75px 80px;
    }
    
    .call-action-content{
        text-align: left;
    }
    
    .call-action-header{
        font-size: 32px;
    }
    
    .call-action-text{
        font-size: 17px;
        max-width: 520px;
        line-height: 1.4;
    }
    
    .call-action-form{
        width: 100%;
        gap: 20px;
        max-width: 480px;
        align-self: center;
        margin-right: 0;
    }

    .call-action-form .err-msg{
        color: white;
    }

    .call-action-form .email-input{
        padding: 14px 20px 10px;
    }
    .call-action-form .submit-btn{
        max-width: 200px;
        font-size: 12px;
        padding: 12px 20px;
    }
}

/* footer */
.footer{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 40px 50px;
    background-color: var(--clr-dark-blue);
    color: white;
}

.footer-img{
    margin-bottom: 35px;
}

.contact-list{
    display: grid;
    gap: 20px;
    margin-bottom: 55px;
}

.contact-list span{
    margin-right: 15px;
}
.footer-nav{
    margin-bottom: 45px;
}

.footer-nav-list{
    display: grid;
    gap: 20px;
}

.footer-nav-link{
    color: white;
}

.social-list{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-list a{
    display: block;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    
}

.social-list a:hover{
    border-color: var(--clr-ligh-blue);
    color: var(--clr-ligh-blue)
}
.social-list i{
    font-size: 13px;
}

@media (min-width: 800px){
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 110px 75px 60px;
    }

    .footer-img{
        grid-area: 1/1/2/5;
        margin-bottom: 25px;
    }

    .contact-list{
        align-self: flex-start;
    }

    .footer-nav-list{
        justify-content: center;
    }

    .social-list{
        justify-content: flex-start;
        padding-left: 30px;
    }

    .social-list a{
        width: 30px;
        height: 30px;
        padding-top: 2px;
    }

    .social-list i{
        font-size: 14px;
    }

}