:root{
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: rgb(20, 123, 116);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 48%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* share */
html{
    font-family: 'Commissioner', sans-serif;
    transition: ease-in-out 0.2s;
}

li{
    list-style: none;
}
.primary-btn{
    display: inline-block;
    padding: 20px 45px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #fafafa;
    background-color: var(--cyan);
    border: none;
}

.primary-btn:hover{
    cursor: pointer;
    background-color: var(--dark-cyan);
    color: white;
}

.block{
    padding: 40px 22px;
    margin-bottom: 25px;
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
}

.header-text{
    font-size: 18px;
    font-weight: 700;
}

.para-text{
    color: var(--gray);
    font-size: 14px;
    line-height: 1.6;
}

.disable{
    pointer-events: none;
    opacity: 0.4;
}

.disable > .primary-btn{
    background-color: var(--gray);
}

main{
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background: url(./images/image-hero-mobile.jpg) center top no-repeat;
    background-size: contain;
    background-color: #fafafa;
    padding: 40px 25px;
    overflow: hidden;
}

@media (min-width: 440px) {
    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/image-hero-desktop.jpg) center top no-repeat;
        background-size: auto;
        background-color: #fafafa;
    }

    .block{
        max-width: 730px;
        width: 90%;
        padding: 43px;
    }

    .header-text{
        font-size: 20px;
    }

    .para-text{
        font-size: 16px;
    }
}

/* header */
header{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list{
    display: none;
    position: absolute;
    left: 25px;
    right: 25px;
    top: 90px;
    background-color: white;
    /* width: 100%; */
    border-radius: 10px;
}

.header-nav-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 25px;
    /* z-index: 9999; */
}

.header-nav-list li{
    border-bottom: 1px solid #f4f4f4;
}

.header-nav-list li:last-child{
    border-bottom: none;
}
.hamberger-btn{
    transition: ease-in-out 0.2s;
}

.header-close-btn{
    display: none;
}
.hamberger-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (min-width: 440px) {
    header{
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-nav-list{
        display: flex;
        position: static;
        background-color: unset;
        font-size: 14px;
        font-weight: 400;
        gap: 30px;
    }

    .header-nav-list li{
        border-bottom: unset;
    }

    .header-nav-link{
        color:white;
        padding: unset;

    }

    .hamberger-btn{
        display: none;
    }
}
/* hero */
.hero{
    margin-top: 200px;
}
.hero-logo{
    position:absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-header{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 20px;
}

.hero-text{
    color: var(--gray);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.bookmark-btn{
    float: right;
    position: relative;
}

.bookmark-btn > span{
    display: none;
}

.bookmark-btn-icon{

}

@media (min-width: 440px) {
    .hero{
        margin-top: 300px;
    }
    .hero-header{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .hero-text{
        font-size: 15px;
        margin-bottom: 35px;
    }

    .bookmark-btn{
        /* width: 100px; */
        height: 55px;
        border-radius: 30px;
        background-color: #f5f5f5;
        padding: 16px 20px 15px 70px;
        font-weight: 700;
        color:var(--gray);
    }

    .bookmark-btn > span{
        display: block;
    }
    .bookmark-btn:hover{
        cursor: pointer;
        opacity: 0.8;
    }

    .bookmark-btn-icon{
        position: absolute;
        left: 0;
        top: 0;
    }

}

/* stat */

.stat-list{
    padding-top: 30px;
}

.stat{

}

.stat-number{
    font-size: 32px;
    margin-bottom: 8px;
}

.stat-target{
    margin-bottom: 20px;
}

.underline{
    display: inline-block;
    width: 80px;
    border-top: 1px solid #d7d7d7;
    margin-bottom: 22px;
}

.stat-progress-bar{
    position: relative;
    height: 13px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.stat-progress-bar::before{
    position: absolute;
    left: 0;
    content: "";
    height: 13px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--cyan);
}

@media (min-width: 440px) {
    .flex-start{
        height: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
    }

    .underline{
        width: 0;
        border-top: none;
        display: inline-block;
        height: 65px;
        border-left: 1px solid #d7d7d7;
    }

}
/* about */

.about{
    text-align: left;
}

.about-header{
    margin-bottom: 25px;
} 

.about-text{
    margin-bottom: 30px;
    line-height: 1.7;
}

.about-product{
    margin-bottom: 25px;
    padding: 25px 20px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.product-header{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 8px;
}

.product-sub-header{
    font-size: 13px;
    color: var(--cyan);
    margin-bottom: 25px;
}

.product-text{ 
    margin-bottom: 30px;
    line-height: 1.75;
} 

.product-left{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.product-left > .number{
    font-size: 34px;
}
.product-left > .left{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
    color: var(--gray);
}

@media (min-width: 440px) {
    .about-header{
        margin-bottom: 40px;
    }
    .about-text{
        margin-bottom: 42px;
    }

    .about-product{
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 35px 30px 30px 30px;
    }
    .product-header{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    
    .product-sub-header{
        justify-self: self-end;
        font-size: 15px;
        font-weight: 700;
        float: right;
    }
    
    .product-text{
        grid-column: 1/3;
        margin-bottom: 25px;
    }

    .product-left > .number{
        font-size: 32px;
    }

    .reward-btn{
        float: right;
    }
}

/* modal */
.modal-container{
    display: block;
    display: none;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 120px 24px; 
}

.modal{
    display: none;
    padding: 35px 24px;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    text-align: left;
}

.modal-header{
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 25px;
}

#close-btn{
    float: right;
    cursor: pointer;
}

#close-btn:hover path{
    opacity: 1;
}
.modal-text{
    margin-bottom: 25px;
}

.modal-product-card{
    padding: 30px 24px;
    margin-bottom: 25px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.modal-product-selector{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;

}

.product-slector{
    display: none;
}

.product-selector-label{
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border: 1px solid #d6d6d6;
}

.product-selector-label::before{
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--cyan);

}

.header-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-product-header{
    font-size: 14px;
}

.modal-product-sub-header{
    font-size: 14px;
    color: var(--cyan);   
}
.modal-product-text {
    margin-bottom: 20px;    
}

.modal-product-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-product-left > .left{
    font-size: 14px;
    color: var(--gray);
    font-weight: 300;
}
.modal-number{
    font-size: 18px;
}

.pledge-select{
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr;
    margin: 20px -24px 0px -24px;
    padding: 30px 24px 0px 24px;
    text-align: center;
    border-top: 1px solid #dadada;
}

.pledge-header{
    grid-column: 1/3;
    font-weight: 300;
    margin-bottom: 15px;
}

.primary-input{
    padding: 15px;
    width: 100px;
    border-radius: 40px;
    border: 1px solid #d6d6d6;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

.small{
    padding: 15px 25px;
    font-size: 14px;
    margin-left: auto;
}

@media (min-width: 440px) {
    .modal-container{
        padding-top: 185px;
    }

    .modal{
        max-width: 735px;
        width: 90%;
        padding: 48px;
    }

    #close-btn{
        display: block;
        margin-left: auto;
        float:none;
    }

    #close-btn:hover{
        opacity: 0.8;
    }

    .modal-header{
        font-size: 24px;
        display: block;
    }

    .modal-text{
        margin-bottom: 35px;
    }
    
    .header-container{
        flex-direction: row;
        gap: 20px;
    }
    
    .modal-product-card{
        position: relative;
    }
    .modal-product-header{
        font-size: 16px;
        transition: ease-in-out 0.2s;
    }
    
    .modal-product-header:hover{
        color: var(--cyan);
        cursor: pointer;
    }
    
    .modal-product-sub-header{
        font-size: 16px;
    }
    .modal-product-text{
        padding-left: 40px;
        font-size: 15px;
    }

    .fix-top{
        position: absolute;
        top: 30px;
        right: 24px;
    }

    .pledge-select{
        grid-template-columns: 1fr auto auto;
        column-gap: 17px;
    }

    .pledge-header{
        grid-column: 1/2;
        justify-self: start;
        align-self: center;
    }

}

/* success */

.modal-success{
    display: none;
    background-color: white;
    padding: 30px 26px;
    text-align: center;
    border-radius: 10px;
}
.success-icon{
    margin-bottom: 20px;
}

.modal-success-header{
    font-size: 20px;
    margin-bottom: 25px;
}

.modal-success-text{
    margin-bottom: 30px;
    line-height: 1.8;
}

@media (min-width: 440px) {
    .modal-success{
        max-width: 545px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
    }

    .success-icon{
        height: 90px;
        margin-bottom: 50px;
    }

    .modal-success-header{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .small{
        padding: 15px 30px;
    }
}


/* state */

/* bookmarked */

.bookmarked{
}

.bookmarked > span {
    color: var(--dark-cyan);
    content: "Bookmarked"
}

.bookmarked > .bookmark-btn-icon > svg circle{
    fill: var(--dark-cyan);
}

.bookmarked > .bookmark-btn-icon > svg path{
    fill: white;
}

/* show/hide modal */

.on-modal{
    display: block;
}

.on-modal > .modal{
    display: block;
}

/* show/hide pledge */

.on-selection{
    border: 1px solid var(--dark-cyan);
}

.on-selection .product-selector-label::before{
    display: block;
}

.on-selection .modal-product-header{
    color: var(--cyan);
}

.on-selection .pledge-select{
    display: grid;
}

/* show/hide navigation menu*/

.menu-active{
    position: fixed;
    align-items: flex-start;
    padding: 40px 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.4);
    z-index: 9999; 
}

.menu-active .header-nav-list{
    display: block;
}

.menu-active .hamberger-btn{
    display: none;
}

.menu-active .header-close-btn{
    display: block;
}