*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* - Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%) */


body{
    font-family: 'Manrope', sans-serif;

}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
}

.card{
    position: relative;
    max-width: 345px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    padding: 40px 25px;
}

.advice-id{
    font-size: 12px;
    color: hsl(150, 100%, 66%);
    margin-bottom: 22px;
    letter-spacing: 4px;
    font-weight: 800;
}

.advice-text{
    color: hsl(193, 38%, 86%);
    font-size: 23px;
    margin-bottom: 25px;
}

.mobile{

}

.desktop{
    display: none;
}

.divider{
    margin-bottom: 22px;
}


.change-quote{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    
    position: absolute;
    bottom: -32px;
    background-color: hsl(150, 100%, 66%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: ease-in-out 0.1s;
}

.change-quote:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px 5px hsla(150, 100%, 66%, 0.6);
}

@media (min-width: 650px){
    .card{
        max-width: 540px;
        padding: 50px;
    }

    .advice-text{
        font-size: 26px;
        margin-bottom: 40px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }

}