/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
:root{
    --red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --blue: hsl(198, 62%, 26%);
    --mid-cyan: hsl(168, 34%, 41%);

    --dark-blue: hsl(212, 27%, 19%);
    --gray-blue: hsl(213, 9%, 39%);
    --light-blue: hsl(232, 10%, 55%);
    --gray: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* share properties */
li{
    list-style: none;
    color: var(--white);
}

a{
    text-decoration: none;

}

img{
    display: block;
}

h1, h2, h3{
    font-family: 'Fraunces', serif; 
    
}

main{
    position: relative;
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    /* padding-top: 120px; */
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

/* header */
header{
    /* position: fixed; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px 50px;
    background-color: #3dbeff;
}

.header-logo{
    display: inline-block;
    height: 32px;
    margin-top: 15px;
}

#contact{
    font-family: 'Fraunces', serif; 
    text-transform: uppercase;
    padding: 18px 30px;
    border-radius: 30px;
    background-color: white;
    font-size: 16px;
    color: var(--dark-blue);
    transition: ease-in-out 0.2s;
}

#contact:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header-nav-bar{
    float: right;
    display: flex;
    align-items: center;
    gap: 47px;
}

.header-nav-bar a{
    font-weight: 600;
}

.header-nav-bar li:hover{
    cursor: pointer;
}

.header-hamberger{
    display: none;
}

/* hero */
.hero{
    background: url(./images/desktop/image-header.jpg) center bottom no-repeat;
    padding-top: 64px;
    background-size: cover;
    background-color: #3dbeff;
    text-align: center;
}

.hero-header{
    text-transform: uppercase;
    font-size: 52px;
    color: var(--white);
}

.arrow{
    display: inline-block;
    margin-top: 90px;
    margin-bottom: 330px;
}

/* header */
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__target{
    max-width: 450px;
    align-self: center;
    justify-self: center;
    margin: 10px;
    background-color: #fffbf8;
}

.about__target-header{
    font-size: 40px;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 30px;
}

.about_target-text{
    font-size: 18px;
    line-height: 1.7;
    color: var(--light-blue);
    margin-bottom: 40px;
}

.learn-more{
    position: relative;
    font-family: 'Fraunces', serif; 
    font-size: 16px;
    font-weight: 900;
    color: var(--dark-blue);
    transition: ease-in-out 0.2s;
}

.learn-more::before{
    content: "";
    bottom: 0px;
    left: -5px;
    width: 125px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    opacity: 0.4;
    z-index: -10;
}

.learn-more:hover{
    cursor: pointer;
    opacity: 0.8;
}

.red::before{
    background-color: var(--red);
}

.yellow::before{
    background-color: var(--yellow);
}
.about__img-container > img{
    width: 100%;
}

/* service */

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service{
    position: relative;
}

.graphic{
    color: var(--dark-cyan)
}

.photography{
    color: var(--blue)
}
.service-img{
    width: 100%;
    z-index: -1;
}

.service-header{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 900;

}

.service-text{
    position: absolute;
    max-width: 350px;
    text-align: center;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    line-height: 1.6;
}

.graphic > .service-text{
    color: var(--dark-cyan);
}

/* projects */

.project{
    padding: 150px 150px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    background-color: #fffbf8;
}

.project-header{
    margin-top: 10px;
    margin-bottom: 80px;
    grid-column: 1/4;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
    color: var(--gray);

}

.client{
    display: grid;
}

.client-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
    justify-self: center;
    margin-bottom: 60px;
}

.client-img > img{
    width: 100%;
}

.client-comment{
    font-size: 19px;
    line-height: 1.7;
    color: var(--gray-blue);
    margin-bottom: 70px;
}

.client-name{
    font-size: 18px;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.client-title{
    font-size: 14px;
    color: var(--gray);
}

/* gallery */

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-img{
    width: 100%;
}

/* footer */

footer{
    display: grid;
    padding: 65px;
    background-color: #90d4c5;
    justify-content: center;
}

.footer-logo{
    margin-bottom: 32px;
    height: 50px;
    font-size: 34px;
    font-weight: bold;
    color: var(--mid-cyan);
    justify-self: center;
}

.footer_nav{
    margin-bottom: 80px;
    display: flex;
    gap: 80px;
}

.footer_nav a{
    color: var(--mid-cyan);
    font-weight: 600;
    font-size: 19px;
    transition: ease-in-out 0.2s;
}

.social-list i:hover,
.footer_nav a:hover{
    color: white;
    cursor: pointer;
}

.social-list{
    justify-self: center;
    display: flex;
    gap: 30px;
}

.social-list i{
    font-size: 24px;
    color: var(--dark-cyan);
    transition: ease-in-out 0.2s;
}

@media (max-width:375px){
    main{
        width: 100%;
    }
    header{
        padding: 30px 25px;
    }

    .header-logo{
        margin-top: 0;
        height: 24px;
    }
    .header-nav-bar{
        display: none;
    }

    /* modale */
    .header-nav-bar{
        position:fixed;
        top: 105px;
        left: 25px;
        right: 25px;
        /* background-color: #fffbf8; */
        text-align: center;
        flex-direction: column;
        gap: 35px;
        background-color: #fffbf8;
        padding: 40px 30px 30px 30px;
        transition: ease-in-out 0.2s;
    }
    
    .header-nav-bar::before{
        content: "";
        position: absolute;
        right: 0;
        top:-24px;
        border-bottom: 24px solid #fffbf8;
        border-left: 24px solid transparent;
    }
    .header-nav-bar li{
        color: var(--light-blue);
        z-index: 999;
    }

    #contact{
        background-color: var(--yellow);
    }

    .header-hamberger{
        display: block;
        float: right;
    }

    .active{
        display: flex;
    }

    .hero{
        background: url(./images/mobile/image-header.jpg) center bottom no-repeat;
        background-size: cover;
        background-color: #3dbeff ;
    }

    .hero-header{
        margin-bottom: 40px;
        font-size: 40px;
        letter-spacing: 8px;
    }

    .arrow{
        margin-top: 0;
        margin-bottom: 130px;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .desktop{
        display: none;
    }

    .about-img{
        width: 100%;
    }

    .mobile{
        display: block;
    }

    .about__target{
        text-align: center;
        padding: 65px 25px;
        margin: 0;
    }

    .about__target-header{
        font-weight: 900;
        margin-bottom: 20px;
    }

    .services{
        grid-template-columns: 1fr;
    }

    .service-header{
        text-align: center;
        width: 100%;
        font-size: 28px;
    }
    .service-text{
        width: 100%;
    }
    .project{
        display: flex;
        flex-direction: column;
        padding: 68px 25px 20px 25px;
    }

    .project-header{
        font-size: 16px;
        margin-bottom: 65px;
    }

    .client-img{
        margin-bottom: 37px;
    }

    .client-comment{
        margin-bottom: 35px;
    }

    .client-title{
        margin-bottom: 65px;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
    }

    footer{
        padding: 60px 36px;
    }

    .footer-logo{
        line-height: 1;
        margin-bottom: 30px;
    }
    .footer_nav{
        gap :57px;
        margin-bottom: 85px;
    }


}