* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
}

p{
    color: hsl(201, 11%, 66%);
    font-weight: 400;

}

.main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 32px;

    background: url(./images/bg-header-mobile.png) center top no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1000px) {
    .main{
        background: url(./images/bg-header-desktop.png) center top no-repeat;
    }
}

.hero {
    padding-top: 120px;
    margin-bottom: 160px;
    text-align: center;
}

.logo-img {
    margin-bottom: 70px;
}

.hero-caption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 1.3;
}

.hero-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-size: 15px;
    line-height: 1.7;
}

.flex-btn {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.primary-btn {
    justify-self: center;
    border-radius: 40px;
    border: none;
    max-width: 300px;
    width: 100%;
    padding: 17px 30px;

    font-size: 16px;
    font-weight: 400;
    color: white;

    transition: ease-in-out 0.2s;
}

.primary-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.green {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 5px 10px 5px hsla(171, 67%, 50%, 0.3);
    border-bottom: 2px solid hsl(171, 66%, 34%);
    
}
.blue {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 5px 10px 5px hsla(233, 100%, 69%, .3);
    border-bottom: 2px solid hsl(233, 78%, 60%);
}

@media screen and (max-width: 1000px) {
    .hero-text {
        max-width: 520px;
    }

    .hero-text {
        max-width: 520px;
    }
}

@media screen and (min-width: 760px) {
    .flex-btn{
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 15px;
    }
}

@media screen and (min-width: 1000px) {
    .logo-img{
        margin-bottom: 55px;
    }
    .hero-caption{
        margin-bottom: 15px;
        font-size: 46px;
    }

    .hero-text{
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        font-size: 20px;
    }

    .primary-btn{
        padding: 17px 35px;
    }
}
/* intro */

.intro {
    text-align: center;
}

.keep-track {
    display: grid;
    margin-bottom: 190px;
}

.mid-header-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    margin-bottom: 20px;
}

.mid-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 1.75;
}

.keep-track-img {
    margin-bottom: 60px;
    width: 100%;
}

.keep-track-specs {
    display: grid;
    grid-gap: 50px;
}

.small-header-text {
    margin-bottom: 10px;
    font-size: 24px;
}

.small-text {
    font-size: 15px;
    line-height: 1.75;
}


@media screen and (min-width: 760px) {
    .mid-text{
        max-width: 520px;
    }

}
@media screen and (min-width: 1000px) {
    .keep-track{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 160px;
    }

    .mid-header-text{
        grid-column: 1/3;
        font-size: 34px;
    }    

    .mid-text{
        grid-column: 1/3;
        max-width: 790px;
        font-size: 18px;
    }

    .keep-track-img{
        margin: 0;
        margin-left: -70px;
    }
    .keep-track-specs{
        grid-gap: 60px;
        padding-left: 14.2%;
        text-align: left;
        align-items: center;
        align-self: center;
    }

    .spec{
        max-width: 350px;
    }

    .spec .small-header-text{
        margin-bottom: 15px !important;
    }
}

.access {
    margin-bottom: 100px;
}

.access-img {
    width: 100%;
}
@media screen and (min-width: 1000px) {
    .access{
        margin-bottom: 80px;
    }
    .access-img{
        margin-top: 25px;
        max-width: 810px;
    }

}

.supercharge {
    margin-bottom: 100px;
}

.supercharge-specs {
    padding: 30px 0;
    display: grid;
    grid-gap: 50px;
}

.spec-img {
    margin-bottom: 35px;
}

.spec .small-header-text {
    margin-bottom: 25px;
}

@media screen and (min-width: 1000px) {
    .supercharge{
        margin-bottom: 160px;
    }
    .supercharge-specs{
        max-width: 1118px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}
.partners{
    display: grid;
    grid-gap: 60px;
    margin-bottom: 170px;
}

.partner-img{
    justify-self: center;
}

@media screen and (min-width: 760px) {
    .partners{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1000px) {
    .partners{
        margin-left: auto;
        margin-right: auto;
        max-width: 1118px;
        grid-template-columns: repeat(5, 1fr);
    }
}
.clipboard{
    margin-bottom: 170px;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .clipboard{
        margin-bottom: 150px;
    }
}

/* footer */

.footer {
    padding-left: 32px;
    padding-right: 32px;
    background-color: #f5f6f8;
}

.wrapper{
    padding: 50px 0;
    display: grid;
    grid-gap: 50px;
    text-align: center;

}
.footer-logo {
    height: 55px;
}

.nav-list {
    display: grid;
    grid-gap: 30px;

}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: hsl(210, 10%, 33%);

    transition: ease-in-out 0.2s;
}

.nav-link:hover{
    cursor: pointer;
    color:hsl(171, 66%, 44%);
}
.social-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 35px;
}

.social-list img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

.nav-list li{
    list-style: none;
}

@media screen and (min-width: 760px) {
    .nav-list{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        column-gap: 60px;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper{
        margin: 0 auto;
        text-align: left;
        max-width: 1118px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 0px;
        align-items: center;
    }

    .nav-list{
        grid-column: 2/4;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }



    .social-list{
        grid-column: 4/5;
        justify-self: right;
        margin-left: auto;
    }

}